body{
    max-width: 100%;
}
h1,
h2,
p,
a{
    font-family: "Roboto", sans-serif;
    color: #E5E7EB;
}
/*Blue section*/
.Blue-section{
    background-color: #1F2937;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em 10em;
}
.logo{
    width: 250px;
    height: auto;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.One{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 10em;
    position: relative;
    bottom: 85px;
    margin-bottom: 0px;
}
.Right{
    width: 400px;
    height: auto;
}
.Left h1{
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    margin-bottom: 0px;
}
.Left p{
    font-size: 18px;
    color: #F9FAF8;
    margin: 10px 0px;
}
.Left button{
    padding: 10px 30px;
    background-color: #3882f6;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
}